*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    
    .list{
        width: 90%;
        height:300px;
        text-align: center;
        display: block;
        overflow: auto;
        white-space: nowrap;
        th{
            border: 2px solid;
            font-weight: bold;
            padding: 5px;
        }
    }
}