*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    text-decoration: none;
    background-color: cadetblue;
    color: white;
    width: 100px;
    min-width: 100px;
    margin-right: 5px;
    text-align: center;
}
.btn:hover{
    text-decoration: underline;
}
.centeredAtNucleo {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
header{
    #header-nav{
        display: flex;
        justify-content:flex-start;
        img{
            width: 100px;
            height: 30px;
        }
    }
    #title{
        margin-top: 20px;
        text-align: center;
    }
    .header-nav-links{
        display: flex;
        align-items: flex-end;
        margin-left: 20px;
    }

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .list{
        width: 100%;
        height:300px;
        display: block;
        overflow: auto;
        white-space: nowrap;
        border: 1px solid;
        
        th{
            border: 2px solid;
            font-weight: bold;
            padding-right: 50px;
            margin-right: 20px;
        }
        td{
            input[type='checkbox']{
                width: 100%;;
            }
        }

        form{
            display: inline;
            flex-direction: column;
            align-items: center;
            width: 100%;
            button{
                width: 100%;
            }
            
        }

    }
    form{
        margin-top: 20px;
        width: 200px;
        display: flex;
        flex-direction: column;
        input{
            margin-bottom: 5px;
        }
        button[type='submit']{
            margin-top: 10px;
            padding: 5px;
        }
    }
}
