<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account list</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
</head>
<body>
    <header>
        <div id = "header-nav">
            <img src="{{url_for('static', filename='img/el_churrete.png')}}" alt="?????????????">
            <ul class="header-nav-links">
                <a class="btn" href="/">Home</a>
                <a class="btn" href="/booking/list/">Reservas</a>
                <a class="btn" href="/account/new/">Nueva cuenta</a>
            </ul>
        </div>
    </header>
    <main>
        <h1 id="title">Lista de cuenta</h1>
        <table class="list" >
            <thead>
                <tr>
                    <th>Establecimiento</th>
                    <th>Fecha entrada</th>
                    <th>Fecha salida</th>
                    <th>Personas</th>
                    <th>Reserva</th>
                    <th>Acción</th>
                </tr>
            </thead>
            {% for account in accounts %}
            <tr>
                <td>{{ account[1] }}</td>
                <td>{{ account[3] }}</td>
                <td>{{ account[4] }}</td>
                <td>{{ account[5] }}</td>
                <td>{{ account[2] }}</td>
                <td>
                    <a class ="btn" href="/account/edit/{{ account[0] }}">Editar</a>
                    <a class ="btn" href="/booking/edit/{{ account[2] }}">Reserva</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
        
    </footer>
</body>
</html>