<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva Form</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/global.css')}}"/>
</head>
<body>
    <header>
        <div id = "header-nav">
            <img src="{{url_for('static', filename='img/el_churrete.png')}}" alt="?????????????">
            <ul class="header-nav-links">
                <a class="btn" href="/">Home</a>
                <a class="btn" href="/booking/list">Lista</a>
            </ul>
          
        </div>
        <h1 id="title">Editar reserva</h1>
    </header>
    <main>
        <Form  action="/booking/edited/{{booking[0]}}" method="post">
            <label for="idReserva">Reserva</label>
            <input id="idReserva" name ="idReserva" disabled ="true" type="number" value={{booking[0]}}>
            <label for="establecimiento">Establecimiento</label>
            <input id="establecimiento" name ="establecimiento"  disabled ="true" type="number" value={{booking[1]}}>
            <label for="estado">Estado</label>
            <input id="estado" name ="estado"  disabled ="true" type="number" value={{booking[2]}}>
            <label for="contact">Contacto</label>
            <input id="contact" name ="contact" type="text" value={{booking[3]}}>
            <label for="email">Email</label>
            <input id="email" name ="email" type="email" value={{booking[4]}}>
            <label for="phone">Teléfono</label>
            <input id="phone" name ="phone" type="number" value={{booking[5]}}>
            <label for="contactDate">Fecha contacto</label>
            <input id="contactDate" name ="contactDate" disabled ="true" type="date" value={{booking[6]}}>
            <label for="expectedDate">Fecha prevista</label>
            <input id="expectedDate" name ="expectedDate" type="date" value={{booking[7]}}>
            <label for="expectedHour">Hora prevista</label>
            <input id="expectedHour" name ="expectedHour" type="time"  value={{booking[8]}}>
            <label for="people">Plazas</label>
            <input id="people" name ="people" type="number" value={{booking[9]}}>
            <input type="submit" value ="Guardar">
        </Form>
    </main>
    <footer>

    </footer>
    <div class="nav-burger">

    </div>
</body>
</html>
