<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking List</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    
</head>
<body>
    <header>
        <div id = "header-nav">
            <img src="{{url_for('static', filename='img/el_churrete.png')}}" alt="?????????????">
            <ul class="header-nav-links">
                <a class="btn" href="/">Home</a>
                <a class="btn" href="/account/list/">Cuentas</a>
                <a class="btn" href="/account/new/">Nueva cuenta</a>
                <a class="btn" href="/booking/autoCancel/">Auto-Cancelar Reserva</a>
            </ul>       
            <div class="nav-burger">

            </div>
        </div>
    </header>
    <main>
        <h1 id="title">Lista de reserva</h1>
        <table class="list" >
            <thead>
                <tr>
                    <th>Establecimiento</th>
                    <th>Fecha contacto</th>
                    <th>Fecha prevista</th>
                    <th>Hora prevista</th>
                    <th>Personas</th>
                    <th>Contacto</th>
                    <th>Email</th>
                    <th>Reserva</th>
                    <th>Cuenta</th>
                    <th>Acción</th>
                </tr>
            </thead>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking[1] }}</td>
                <td>{{ booking[2] }}</td>
                <td>{{ booking[3] }}</td>
                <td>{{ booking[4] }}</td>
                <td>{{ booking[5] }}</td>
                <td>{{ booking[7] }}</td>
                <td>{{ booking[8] }}</td>
                <td>
                    <a class ="btn" href="/booking/edit/{{ booking[0] }}">{{ booking[0] }}</a>
                </td>
                <td>
                    <a class ="btn" href="/account/editByIdBooking/{{ booking[0] }}">Ir</a>
                </td>
                <td>
           
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
        
    </footer>
</body>
</html>


