
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Reservas</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/global.css')}}"/>
</head>
<body>
    <header>
        <div id = "header-nav">
            <img src="../static/img/el_churrete.png" alt="">
            <ul class="header-nav-links">
                <a class="btn" href="lista_reserva">Lista</a>
            </ul>
          
        </div>
        <h1 id="title">Gestión de reservas</h1>
    </header>
    <main>
        <form action="/booking/add/" >
            <label for="contact">Contacto</label>
            <input  id="contact" name="contact"  type="text" requeried>
            <label for="email">Email</label>
            <input  id="email" name="email"  type="text" requeried>
            <label for="phone">teléfono</label>
            <input  id="phone" name="phone"  type="text">
            <label for="expectedDate">Fecha prevista</label>
            <input  id="expectedDate" name="expectedDate"  type="text" requeried>
            <label for="expectedHour">Hora prevista</label>
            <input  id="expectedHour" name="expectedHour"  type="text" requeried>
            <label for="people">plazas</label>
            <input  id="people" name="people"  type="text" requeried>
        </form>
    </main>
    <footer>

    </footer>
    <div class="nav-burger">

    </div>
</body>
</html>