
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Reservas</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/global.css')}}"/>
</head>
<body>
    <header>
        <div id = "header-nav">
            <img src="{{url_for('static', filename='img/el_churrete.png')}}" alt="">
            <ul class="header-nav-links">
                <a class="btn" href="/booking/list/">Lista</a>
            </ul>
          
        </div>
        <h1 id="title">Agregar reservas</h1>
    </header>
    <main>
        <form action="/booking/add/" metdod="POST" >
            <label for="establishment">Establecimiento</label>
            <input id="establishment" name ="establishment" disabled ="true" type="number" value=1>
            <label for="id">Reserva</label>
            <input id="id" name ="id" disabled ="true" type="number">
            <label for="contact">Contacto</label>
            <input id="contact" name="contact" type="text" requeried>
            <label for="email">Email</label>
            <input id="email" name="email" type="email" requeried>
            <label for="phone">Teléfono</label>
            <input id="phone" name="phone"  type="number">
            <label for="expectedDate">Fecha prevista</label>
            <input id="expectedDate" name="expectedDate" type="date" requeried>
            <label for="expectedHour">Hora prevista</label>
            <input id="expectedHour" name="expectedHour" type="time" requeried>
            <label for="people">Plazas</label>
            <input id="people" name="people" type="number" requeried>
            <input type="submit" value="Agregar">

        </form>
    </main>
    <footer>

    </footer>
    <div class="nav-burger">

    </div>
</body>
</html>